
.container{
    background-color: rgb(221, 239, 239);
    align-items: center;
    padding-left: 5px;
    width: 96%;
    padding: 3% 3%;
    margin-top: 13px;
    border-radius: 7px;
}
.container1{
    background-color: rgb(221, 239, 239);
    align-items: center;
    padding-left: 5px;
    width: 96%;
    padding: 3% 3%;
    margin-top: 3px;
    border-radius: 7px;

}
.img{
    padding-top: 5px;
    padding: 1px 1px 1px 1px ;
}
p{
    color: rgb(0, 0, 0);
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 94%;
}
.abbpub{
    background-color: rgb(220, 225, 221);
    font-size: 20px;
    border-radius: 3px;
    color: blue;
    width: 96%;
}
span{
    color: rgb(2, 149, 234);
    position: relative;
    bottom: 12px;
    margin-left: 0px;
}
hr{
    background-color: blue;
    size: 3px;
}
.img1{
    background-color: rgb(13, 164, 214);
    border-radius: 50%;
    border: 2px solid rgb(213, 42, 42);
}